@if (product) {
<div
  class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 backdrop-blur-lg z-[9999] pointer-events-auto"
>
  <div
    class="p-6 bg-white border-2 border-black rounded-lg shadow-lg w-[96%] max-w-lg absolute left-1/2 transform -translate-x-1/2"
    [style.top.px]="scrollY + viewportHeight / 5"
  >
    <h2 class="text-2xl font-bold mb-4 text-center">
      {{ product.name != "" ? "Termék módosítása" : "Új termék" }}
    </h2>
    <form class="space-y-4">
      <div>
        <label class="block font-medium text-gray-700">Név</label>
        <input
          type="text"
          name="name"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          [(ngModel)]="product.name"
          required
        />
      </div>
      <div>
        <label class="block font-medium text-gray-700">Egységár</label>
        <div class="flex items-center space-x-2">
          <input
            type="number"
            name="price"
            class="mt-1 block w-16 h-10 text-center rounded-md border-gray-300 shadow-sm"
            [(ngModel)]="product.price"
            required
          />
          <span class="text-xl text-gray-700">€ /db</span>
        </div>
      </div>

      <div>
        <label class="block font-medium text-gray-700">{{
          product.image_url != "" ? "Új kép" : "Kép"
        }}</label>
        <input
          type="file"
          accept="image/*"
          name="image"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          (change)="onFileSelected($event)"
          [required]="!product.image_url"
        />
      </div>
      <div class="flex justify-end space-x-2">
        <button
          type="button"
          class="px-4 py-2 bg-gray-300 rounded-md"
          (click)="cancel()"
        >
          Mégse
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-[#C68958] text-white rounded-md"
          (click)="save()"
        >
          Mentés
        </button>
      </div>
    </form>
    @if (errorMessage) {
    <div class="text-red-500 font-bold text-center mt-2">
      {{ errorMessage }}
    </div>
    }
  </div>
</div>
}
