<ion-header
  [translucent]="false"
  class="{{editingRecipe != null ? 'opacity-50 pointer-events-none' : ''}}"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="text-black"></ion-menu-button>
    </ion-buttons>

    <ion-title class="font-bold text-2xl text-center text-black">
      Receptek
    </ion-title>

    <ion-buttons slot="end" class="pe-2">
      <ion-button
        (click)="newRecipe()"
        class="w-10 h-10 rounded-full bg-[#D19263] text-white flex justify-center items-center font-bold shadow-md"
      >
        <ion-icon name="add" class="text-xl"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
