<ion-header
  [translucent]="true"
  class="{{editingOrder != null ? 'opacity-50 pointer-events-none' : ''}}"
>
  <ion-toolbar>
    <div class="flex justify-between items-center w-full">
      <ion-title class="font-bold text-2xl text-center text-black"
        >Rendelések</ion-title
      >
      <ion-fab horizontal="end">
        <ion-fab-button size="small" color="primary" (click)="newOrder()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollY]="editingOrder != null ? 'false':'true'"
  class="relative {{editingOrder != null ? 'pointer-events-none' : ''}}"
>
  <div class="w-[95%] mx-auto flex justify-between items-center mt-2">
    <ion-button
      fill="clear"
      (click)="previousOrderSchedule(currentOrderSchedule!.id)"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    @if (currentOrderSchedule) {
    <h2 class="text-xl font-semibold">
      {{currentOrderSchedule!.available_date | date: 'yyyy.MM.dd EEEE' :
      undefined : 'hu' }}
    </h2>
    }
    <ion-button
      fill="clear"
      (click)="nextOrderSchedule(currentOrderSchedule!.id)"
    >
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
  @if (orders.length > 0) {
  <ion-list>
    @for (order of orders; track $index) {
    <ion-item class="w-full flex justify-center">
      <ion-card
        class="w-[90vw] p-1 {{order.status == 'processing' ? 'border-4 border-yellow-500 bg-yellow-100' : order.status == 'completed' ? 'border-4 border-green-700 bg-green-200' : ''}}"
      >
        <ion-card-header class="flex flex-row justify-between items-center">
          <div class="flex flex-col items-start">
            <ion-card-title class="font-bold mb-1"
              >{{order.customer_name}}</ion-card-title
            >
            @if (order.phone_number) {
            <ion-card-subtitle>{{order.phone_number}}</ion-card-subtitle>
            } @if (order.note) {
            <ion-card-subtitle>{{order.note}}</ion-card-subtitle>
            }
          </div>
          <h1 class="font-bold text-2xl text-black">{{order.total_price}} €</h1>
        </ion-card-header>

        <ion-card-content>
          <div class="space-y-2">
            @for (product of order.order_items; track $index) {
            <div
              class="flex justify-between items-center w-full p-2 rounded-lg shadow-sm
      {{order.status == 'processing' ? 'bg-yellow-100' : order.status == 'completed' ? 'bg-green-200' : 'bg-white'}}"
            >
              <h3 class="text-black">{{product.product_name}}</h3>
              <h3 class="text-black">{{product.quantity}} db</h3>
            </div>
            }
          </div>

          <div
            class="flex mt-2 {{order.status == 'completed' ? 'justify-center' : 'justify-between'}}"
          >
            @if (order.status === 'pending') {
            <ion-button color="white" (click)="deleteOrder(order)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="red"
                  d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17"
                />
              </svg>
            </ion-button>
            <ion-button color="white" (click)="modifyOrder(order)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="grey"
                  d="M3 21v-4.25L17.625 2.175L21.8 6.45L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"
                />
              </svg>
            </ion-button>
            <ion-button color="white" (click)="changeOrderStatus(order.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="orange"
                  d="M5 18.77v-1h1.616V9.845q0-1.96 1.24-3.447T11 4.546V4q0-.417.291-.708q.291-.292.707-.292t.709.292T13 4v.546q1.904.365 3.144 1.853t1.24 3.447v7.923H19v1zm6.997 2.615q-.668 0-1.14-.475t-.472-1.14h3.23q0 .67-.475 1.142q-.476.472-1.143.472"
                />
              </svg>
            </ion-button>
            } @else if (order.status === 'processing') {
            <ion-button color="white" (click)="deleteOrder(order)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="red"
                  d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zm3-4q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17"
                />
              </svg>
            </ion-button>
            <ion-button color="white" (click)="modifyOrder(order)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="grey"
                  d="M3 21v-4.25L17.625 2.175L21.8 6.45L7.25 21zM17.6 7.8L19 6.4L17.6 5l-1.4 1.4z"
                />
              </svg>
            </ion-button>
            <ion-button color="white" (click)="changeOrderStatus(order.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="green"
                  d="M10 17.17L6.41 13.59L5 15l6 6l11-11l-1.41-1.41z"
                />
              </svg>
            </ion-button>
            } @else {
            <ion-button color="white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 24 24"
              >
                <path
                  fill="green"
                  d="M10 17.17L6.41 13.59L5 15l6 6l11-11 l-1.41-1.41z"
                />
              </svg>
            </ion-button>
            }
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
  </ion-list>
  } @if (orders.length > 0) {
  <h1
    class="text-center w-full text-2xl font-bold mt-5 border-t-2 border-black pt-2"
  >
    Összesítés
  </h1>
  <ion-list class="px-1">
    @for (item of orderSummary; track $index) {
    <ion-item>
      <div class="flex justify-between items-center w-full">
        <h3>{{ item.product_name }}</h3>
        <h3>{{ item.totalQuantity }} db</h3>
      </div>
    </ion-item>
    }
    <ion-item class="mt-2">
      <div class="flex justify-between items-center w-full font-bold">
        <h2 class="text-xl font-bold">Összeg:</h2>
        <h2 class="text-xl font-bold">{{ totalIncome }} €</h2>
      </div>
    </ion-item>
  </ion-list>
  } @if (editingOrder !== null) {
  <app-order-modal
    [order]="editingOrder"
    [orderSchedule]="currentOrderSchedule"
    (canceled)="editingOrder = null"
    (saved)="saveOrder($event)"
  ></app-order-modal>
  }
</ion-content>
