<ion-header
  [translucent]="false"
  class="{{ editingRequest != null ? 'opacity-50 pointer-events-none' : '' }}"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="text-black"></ion-menu-button>
    </ion-buttons>
    <ion-title class="font-bold text-2xl text-center text-black">
      Felhasználók
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="currentSegment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="pending">
        <ion-label>Függő</ion-label>
      </ion-segment-button>
      <ion-segment-button value="approved">
        <ion-label>Elfogadva</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected">
        <ion-label>Elutasítva</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [scrollY]="editingRequest != null ? 'false':'true'"
  class="relative bg-gray-50 {{ editingRequest != null ? 'pointer-events-none' : '' }}"
>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  @if (isLoading) {
  <div class="w-full h-full flex justify-center items-center mt-10">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>
  } @else if (!isLoading && filteredRequests.length === 0) {
  <div class="w-full flex justify-center items-center mt-10">
    <p class="text-gray-500 italic text-center">
      Nincs megjeleníthető kérelem ebben a kategóriában.
    </p>
  </div>
  } @else {
  <ion-list class="mb-16 bg-transparent">
    @for (request of filteredRequests; track request.id) {
    <ion-item lines="none" class="mb-2">
      <ion-card class="w-full mx-auto shadow-sm ring-1 ring-black/5 rounded-xl">
        <ion-card-header class="pb-2">
          <ion-card-title class="font-bold text-xl">
            {{ request.name }}
          </ion-card-title>
          <ion-card-subtitle class="flex flex-col gap-1 mt-1 text-gray-600">
            <span class="flex items-center gap-2">
              <ion-icon name="mail-outline"></ion-icon> {{ request.email }}
            </span>
            <span class="flex items-center gap-2">
              <ion-icon name="call-outline"></ion-icon> {{ request.phone_number
              }}
            </span>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="flex justify-end gap-3 mt-2 border-t pt-3">
            @if (request.status !== 'approved') {
            <ion-button
              fill="clear"
              color="success"
              (click)="submitRequest(request, 'approve')"
            >
              <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
              Engedélyez
            </ion-button>
            } @if (request.status !== 'rejected') {
            <ion-button
              fill="clear"
              color="danger"
              (click)="submitRequest(request, 'reject')"
            >
              <ion-icon slot="start" name="close-circle-outline"></ion-icon>
              {{ request.status === 'approved' ? 'Letiltás' : 'Elutasít' }}
            </ion-button>
            }
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>
