@if (order) {
<div
  class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 backdrop-blur z-[9999] pointer-events-auto"
>
  <div
    class="p-6 bg-white border-2 border-black rounded-lg shadow-lg w-[96%] max-w-lg absolute left-1/2 transform -translate-x-1/2"
    [style.top.px]="scrollY + viewportHeight / 10"
  >
    <h2 class="text-2xl font-bold mb-4 text-center">
      {{ order.id != 0 ? "Rendelés módosítása" : "Új rendelés" }}
    </h2>
    <form class="space-y-4">
      <div>
        <label class="block font-medium text-gray-700">Név</label>
        <input
          type="text"
          name="customer_name"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          [(ngModel)]="order.customer_name"
          required
        />
      </div>
      <div>
        <label class="block font-medium text-gray-700">Telefonszám</label>
        <input
          type="number"
          name="phone_number"
          placeholder="Opcionális"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          [(ngModel)]="order.phone_number"
        />
      </div>
      <div>
        <label class="block font-medium text-gray-700">Megjegyzés</label>
        <textarea
          rows="2"
          name="note"
          placeholder="Opcionális"
          class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
          [(ngModel)]="order.note"
        ></textarea>
      </div>
      <div class="flex justify-between">
        <div class="flex items-center">
          <input
            type="checkbox"
            name="is_paying"
            class="h-4 w-4 text-blue-600 border-gray-300 rounded"
            [(ngModel)]="order.is_paying"
          />
          <label class="ml-2 font-medium text-gray-700">Fizet-e</label>
        </div>
        @if (order.is_paying == true) {
        <div class="flex items-center">
          <input
            type="checkbox"
            name="already_paid"
            class="h-4 w-4 text-blue-600 border-gray-300 rounded"
            [(ngModel)]="order.already_paid"
          />
          <label class="ml-2 font-medium text-gray-700">Fizetve</label>
        </div>
        }
      </div>
      <div>
        <label class="block font-medium mb-1 text-gray-700">Termékek</label>
        <div class="space-y-2 max-h-48 overflow-y-auto pr-1">
          @for (item of orderSchedule?.products; track $index) {
          <div class="flex items-center justify-between border p-2 rounded-md">
            <span>{{ item.product_name }}</span>
            <div class="flex items-center space-x-2">
              <button
                type="button"
                class="w-6 px-2 py-1 font-bold text-xl text-center bg-gray-300 rounded-md"
                (click)="decreaseQuantity(item.product_name)"
              >
                -
              </button>
              <input
                type="number"
                name="quantity"
                class="w-12 text-center border rounded-md"
                [value]="productQuantities[item.product_name]"
                (change)="onQuantityChange(item.product_name, $event)"
              />
              <button
                type="button"
                class="w-6 px-2 py-1 font-bold text-xl text-center bg-gray-300 rounded-md"
                (click)="increaseQuantity(item.product_name)"
              >
                +
              </button>
            </div>
          </div>
          }
        </div>
      </div>

      <div class="flex justify-end space-x-2">
        <button
          type="button"
          class="px-4 py-2 bg-gray-300 rounded-md"
          (click)="cancel()"
        >
          Mégse
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-[#C68958] text-white rounded-md"
          (click)="save()"
        >
          Mentés
        </button>
      </div>
    </form>
    @if (errorMessage) {
    <div class="text-red-500 font-bold text-center mt-2">
      {{ errorMessage }}
    </div>
    }
  </div>
</div>
}
